<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PrioritizerServerURL" value="http://Prioritizer.Netformx.com/" />
    <add key="PrioritizerServerShowTaskUrl" value="ShowTask.aspx?id=" />
    <add key="currentServerVer" value="20" />
    <add key="currentClientVer" value="30" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messagelistener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\myMessages.svclog"></add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" logMalformedMessages="true" maxMessagesToLog="5000" maxSizeOfMessageToLog="2000"></messageLogging>
    </diagnostics>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="prioritizerDBEntities" connectionString="metadata=res://*/Model.DAL.csdl|res://*/Model.DAL.ssdl|res://*/Model.DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=ilmednt102;Database=prioritizerDB_test;user id=prioritizerUser;password=prioritizerUser;&quot;" providerName="System.Data.EntityClient" />-->
    <add name="prioritizerDBEntities" connectionString="metadata=res://*/Model.DAL.csdl|res://*/Model.DAL.ssdl|res://*/Model.DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\sqlexpress;Database=prioritizerDB;user id=prioritizerUser;password=prioritizerUser;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Online.PrioritizerService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" name="myServiceEndPoint" contract="Online.IPrioritizerService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpDefaultBinding" name="myServiceEndPoint" contract="Online.IPrioritizerService" />-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpFileStreamBinding" name="myServiceEndPoint" contract="Online.IPrioritizerService" />
        <!--<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/PrioritizerService/" />
            <add baseAddress="http://localhost/PrioritizerService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <!--Used for Cisco PriceListService -->
        <binding name="ICTWSSoapBinding" closeTimeout="23:59:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="basicHttpFileStreamBinding" allowCookies="false" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" transferMode="Streamed" />
        <binding name="basicHttpFileStreamBindingLarge" allowCookies="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" transferMode="Streamed" receiveTimeout="01:00:00" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" />
        <!--Use By Mail Service-->
        <binding name="HttpBinding_MTOM" messageEncoding="Mtom" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <ws2007FederationHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false"></message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <wsHttpBinding>
        <!--binding used by services and endpoints -->
        <binding name="wsHttpDefaultBinding" allowCookies="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="false" receiveTimeout="01:00:00" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <!--binding used by services-->
        <binding name="netTcpLongRunningBindingConfiguration" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true" transactionFlow="false" listenBacklog="2147483647" receiveTimeout="01:00:00" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
        <binding name="netTcpBindingConfiguration" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true" transactionFlow="false" receiveTimeout="10:00:00" closeTimeout="10:00:00" openTimeout="10:00:00" sendTimeout="10:00:00" listenBacklog="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
        <!--binding used by end points-->
        <binding name="appServiceBindingConfiguration" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true" transactionFlow="false" receiveTimeout="10:00:00" closeTimeout="10:00:00" openTimeout="10:00:00" sendTimeout="10:00:00" listenBacklog="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
        <binding name="uploadBomServiceBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="red002.mail.emea.microsoftonline.com" enableSsl="true" port="443" userName="sahar.kroglen@netformx.com" password="345SAHkr" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>