<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PrioritizerServerURL" value="http://{0}:{1}/prioritizerService/web/" />
    <add key="PrioritizerServerShowTaskUrl" value="ShowTask.aspx?id=" />
    <add key="currentServerVer" value="1.24.0.0" />
    <add key="currentClientVer" value="1.50.0.0" />
    <add key="DomainControllerAuthenticate" value="false" />
    <add key="UserStateCookieName" value="PrioriCookie" />
    <add key="LoginPage" value="web/Login  .aspx" />
    <add key="applicationName" value="Prioritizer" />
    <add key="maxInvalidPasswordAttempts" value="5" />
    <add key="passwordAttemptWindow" value="10" />
    <add key="minRequiredNonAlphanumericCharacters" value="1" />
    <add key="minRequiredPasswordLength" value="4" />
    <add key="passwordStrengthRegularExpression" value="" />
    <add key="enablePasswordReset" value="true" />
    <add key="enablePasswordRetrieval" value="true" />
    <add key="requiresQuestionAndAnswer" value="false" />
    <add key="applicationName" value="Prioritizer" />
    <add key="requiresUniqueEmail" value="false" />
    <add key="passwordFormat" value="Hashed" />
    
  </appSettings>

  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messagelistener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\myMessages.svclog"></add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" logMalformedMessages="true" maxMessagesToLog="5000" maxSizeOfMessageToLog="2000"></messageLogging>
    </diagnostics>
  </system.serviceModel>
  <connectionStrings>
    <!--<add name="prioritizerDBEntities" connectionString="metadata=res://*/Model.DAL.csdl|res://*/Model.DAL.ssdl|res://*/Model.DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=ilmednt102;Database=prioritizerDB_test;user id=prioritizerUser;password=prioritizerUser;&quot;" providerName="System.Data.EntityClient" />-->
    <add name="prioritizerDBEntities" connectionString="metadata=res://*/Model.DAL.csdl|res://*/Model.DAL.ssdl|res://*/Model.DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=.\sqlexpress;Database=prioritizerDB;user id=prioritizerUser;password=prioritizerUser;&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DurableServiceStore" connectionString="Data Source=.\sqlexpress;Initial Catalog=prioritizerPersistenceDB;Integrated Security=SSPI"/>
    <add name="membershipDBConnection" connectionString="Server=.\sqlexpress;Database=PrioritizerMembershipDB;Trusted_Connection=yes;"/>-->
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>

    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>

    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>
    <authorization>
      <allow users ="*" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="web/Login.aspx"
             protection="All"
             timeout="30"
             name=".ASPXAUTH"
             path="/"
             requireSSL="false"
             slidingExpiration="true"
             defaultUrl="login.aspx"
             cookieless="UseDeviceProfile"
             enableCrossAppRedirects="false" />
    </authentication>
    <machineKey validationKey="9B648362BE0A4C3FEDD4D9C97F148CA71497C5128BF543DDB37D70AEFBA2F16D184A900AC1C16331F5E95708BAD6A67286B74CEBBE4ACDEA58B787AF1BD7BFE4" decryptionKey="86D46880FD9C2F391D9176A24EF22A16560AD69B7AE37146" validation="SHA1" />
    <compilation debug="true" targetFramework="4.0" batch="false">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--Configure the Sql Membership Provider-->
    <!--<membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add
          name="SqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="membershipDBConnection"
          applicationName="MembershipAndRoleProviderSample"
          enablePasswordRetrieval="false"
          enablePasswordReset="false"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed" />
      </providers>
    </membership>-->
  </system.web>

  <extnet theme="Gray" />
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>

    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
    
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="1.0.0.0-4.5.10" newVersion="4.5.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0" newVersion="2.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <services>
      <service name="Online.PrioritizerService">
        <!--behaviorConfiguration="membershipBehavior"-->
        <endpoint address="" binding="netTcpBinding"  bindingConfiguration="netTcpBindingConfiguration" name="myServiceEndPoint" contract="Online.IPrioritizerService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpDefaultBinding" name="myServiceEndPoint" contract="Online.IPrioritizerService" />-->
        <endpoint address=""  binding="wsHttpBinding"  bindingConfiguration="wsHttpDefaultBinding" name="myServiceEndPoint" contract="Online.IPrioritizerService"  />
        <!--<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/PrioritizerService/" />
            <add baseAddress="http://localhost/PrioritizerService/" />
          </baseAddresses>
        </host>
      </service>
      <!--<service name="Online.DurableService" behaviorConfiguration="durableServiceBehavior">
        <endpoint address ="" binding="wsHttpContextBinding" contract="Online.IDurableService" bindingConfiguration="durableServiceBinding" />
        <host>
          <baseAddresses>
              <add baseAddress="http://localhost/PrioritizerService/" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          
          <serviceThrottling maxConcurrentCalls="16"  maxConcurrentInstances="2147483647" maxConcurrentSessions="10" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--membership behavior-->
        <behavior name="membershipBehavior">
          <serviceCredentials>
            <userNameAuthentication
            userNamePasswordValidationMode="MembershipProvider"
            membershipProviderName="SqlMembershipProvider" />
          </serviceCredentials>
        </behavior>
        <!--<behavior name="durableServiceBehavior">
          --><!-- To avoid disclosing metadata information, 
          set the following value to false and remove the preceding metadata endpoint before deployment. --><!--
          <serviceMetadata httpGetEnabled="True"/>
          --><!-- To receive exception details in faults for debugging purposes, 
          set the following value to true. Set the value to false before deployment 
          to avoid disclosing exception information. --><!--
          <serviceDebug includeExceptionDetailInFaults="true" />
          <persistenceProvider type="System.ServiceModel.Persistence.SqlPersistenceProviderFactory, System.WorkflowServices, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
                               connectionStringName="DurableServiceStore" persistenceOperationTimeout = "00:00:10" lockTimeout="00:01:00" serializeAsText="true"/>

        </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <!--Used for Cisco PriceListService -->
        <binding name="ICTWSSoapBinding" closeTimeout="23:59:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="basicHttpFileStreamBinding" allowCookies="false" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" transferMode="Streamed" />
        <binding name="basicHttpFileStreamBindingLarge" allowCookies="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" transferMode="Streamed" receiveTimeout="01:00:00" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00" />
        <!--Use By Mail Service-->
        <binding name="HttpBinding_MTOM" messageEncoding="Mtom" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <ws2007FederationHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:05:00" receiveTimeout="00:05:00">
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false"></message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <wsHttpBinding>
        <!--binding used by services and endpoints -->
        <binding name="wsHttpDefaultBinding" allowCookies="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="false" receiveTimeout="01:00:00" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <!-- Set up a binding that uses UserName as the client credential type -->
        <!--<binding name="MembershipBinding">
          <security mode="Message" >
            <message clientCredentialType="UserName" />
          </security>
        </binding>-->
      </wsHttpBinding>

      <wsHttpContextBinding>
        <!--<binding name="durableServiceBinding" maxReceivedMessageSize="2147483647" contextProtectionLevel="None">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
          maxArrayLength="2147483647" maxBytesPerRead="2147483647"
          maxNameTableCharCount="2147483647" />         
        </binding>-->
      </wsHttpContextBinding>
      
      
      <netTcpBinding>
        <!--binding used by services-->
        <binding name="netTcpLongRunningBindingConfiguration" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true" transactionFlow="false" listenBacklog="2147483647" receiveTimeout="01:00:00" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
        <binding name="netTcpBindingConfiguration" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true" transactionFlow="false" receiveTimeout="10:00:00" closeTimeout="10:00:00" openTimeout="10:00:00" sendTimeout="10:00:00" listenBacklog="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
        <!--binding used by end points-->
        <binding name="appServiceBindingConfiguration" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true" transactionFlow="false" receiveTimeout="10:00:00" closeTimeout="10:00:00" openTimeout="10:00:00" sendTimeout="10:00:00" listenBacklog="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
        <binding name="uploadBomServiceBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.net>
    <!--<settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>-->
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="red002.mail.emea.microsoftonline.com" enableSsl="true" port="443" userName="sahar.kroglen@netformx.com" password="345SAHkr" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>