<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="prioritizerDBEntities" connectionString="metadata=res://*/Model.DAL.csdl|res://*/Model.DAL.ssdl|res://*/Model.DAL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=prioritizerDB;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>